* { box-sizing: border-box; }
html { overflow-y: scroll; }

.masonry {

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    &-item,
    &-sizer {
        
        width: 33%;

        @include under(md) {
            width: 50%;
        }

        @include under(sm) {
            width: 100%;
        }

        &--width2 {
            width: 66%;

            @include under(md) {
                width: 100%;
            }
        }
    }

    &-item,
    &-item--width2 {
        height: 520px;
        float: left;
        padding: 10px;
        transition: all 0.3s ease;
        @include ease-transition;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
